<html>
<head><meta charset='utf-8'></head>
<body>
<div class="container">
  <p>this is a sent email</p>
<!--   <p>Hey <%= order.name %>,</p>
  <p>
    This is a confirmation for your order.
  </p>
  <p>
    <p>Address:</p>
    <p><%= order.address.address1 %></p>
    <p><%= order.address.address2 %></p>
    <p><%= order.address.city %></p>
    <p><%= order.address.zip %></p>
    <p><%= order.address.state %></p>
    <p>Items:</p>
    <ul class="list-group">
      <% for (var i = 0; i < order.items.length; i++) {%>
        <li class="list-group-item">
          <p>order.items[i].name</p>
          <p>order.items[i].quantity</p>
        </li>
      <% } %>
    </ul>
    <p>Total: <%= order.total %></p>
  </p>
  <p>
    Talk soon,<br>
    EXXXTREME
  </p> -->
</div>
</body>
</html>